/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }

*, ::after, ::before { box-sizing: inherit; }


/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik

 KULATE ROHY
 border-radius: 30px;
*/

/* ----- zde zacni psat vlastni css ----- */


body {
    text-rendering: optimizeLegibility;
    width: 670px;   
    height: 440px;
    margin: auto;
    position: relative;
    top: 100px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;  
    text-align: left;
}

.zbozi {   
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow:  1px 10px 20px #cfcfcf;
    background-color: none;     
}
    
.logo, 
.slogan, 
.cenovka {
    color: #f5f5f5;
}

.logo {
    margin-bottom: 30px;
}

.cena {
    font-size: 28px;
    font-weight: 500;
}

.zaruka {
    font-size: 12px;
    font-weight: 400;
}

.slogan {
    font-size: 16px;
    font-weight: 500;
}

.vizual {
    width: 335px;
    height: 440px;
    padding: 30px;
    background: linear-gradient(#06d7c1,#50cc49);
    border-radius: 10px 0 0 10px;
}

.detaily {
    width: 335px;
    height: 440px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0 10px 10px 0;
    position: relative;
    bottom: 440px;
    left: 335px;
    padding: 30px;
}

.nazev {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
}

li {
    display: inline-block;
    margin: 0px 10px;
    text-align: left;
    font-weight: 400;
}

ul {
    position: relative;
    right: 40px;
    margin-top: 0px;
}

.bota {
    position: relative;
    right: 108px;
    bottom: 7px;    
}

.cenovka {
    position: relative;
    bottom: 80px;
    right: 0px;
    text-align: right;
}

.produkt {
    color: #959595;    
}

.popis {
    margin: 30px 0;
    padding-bottom: 30px;
    border-bottom: #06d7c1 1px solid;    
}

.tlacitko {
    padding: 10px 30px;
    background-color:#f15f42 ;
    border-radius: 6px;
    position: relative;
    top: 70px;
    color: #f5f5f5;
    text-decoration: none;
    box-shadow: 0 1px 3px #959595;
}

.vybrana {
    color: #f15f42; 
    font-weight: 500;
    border: 1px solid #f15f42;
    border-radius: 50%;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.parametr {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 14px;
}

.nazev,
.parametr,
.tlacitko {
    text-transform: uppercase;
    transform: scaleY(1.1);
}

/*prosím, jak je možno tvarovat text aby byl vertikálně delší? Na Výsledku je text delší než na mojí práci.*/